config gatesentry 'main'
	option enabled '0'
	option http_port '10413'
	option socks5_enabled '1'
	option socks5_port '10415'
	option admin_port '10786'
	option transparent_port '10414'
	option transparent '1'
	option bind_address '0.0.0.0'
	option dns_enabled '0'
	option dns_port '53'
	option dns_addr '0.0.0.0'
	option dns_resolver '1.1.1.1:53'
	option tz 'UTC'
	option debug_logging '0'
	option max_scan_size_mb '10'
	option mdns_browser '0'
	option admin_lan_only '1'